<div class="container">
  <div class="sub_container_base">


    <p id="notice"><%= notice %></p>

    <p>
      <b>Name:</b>
      <%= @option.name %>
    </p>

    <p>
      <b>Question:</b>
      <%= @option.question_id %>
    </p>


    <%= link_to 'Edit', edit_option_path(@option) %> |
    <%= link_to 'Back', options_path(:qid=>@option.question_id) %>

  </div>
</div>