



<div class="container">

  <div class="sub_container_header" style="background-image: none;border:none;">
    <h2><%=h @case_study.name %></h2>

  </div>

  <div class="sub_container_base" style="margin-top:-15px;">
    <table style="background-image: none;border:none;">
      <tr style="background-image: none;border:none;">
        <% if current_user.admin %>
          <td style="background-image: none;border:none;">
            <span style="float:left;margin-right: 20px;">
              <%= link_to image_tag("/images/delete_button.png", :size=>"30x30"), @case_study, :confirm => 'Are you sure?', :method => :delete, :title=>"Delete" %>
            </span><br/>
          </td>
        <% end %>
        <td style="background-image: none;border:none;width:150px;">
          <strong>Simulation Type: </strong><br/><br/>
          <% if @case_study.party_type then %>
            Two-Party
          <% else %>
            Multi-Party
          <%  end %> <br/>
          <% if @case_study.game_type then %>
            Integrative
          <% else %>
            Distributive
          <%  end %> <br/>
          <% if @case_study.issue_type then %>
            Single-Issue
          <% else %>
            Multi-Issue
          <%  end %> <br/>
          <% if @case_study.delivery_type then %>
            In-Class
          <% else %>
            Extended
          <%  end %> <br/>
          <% if @case_study.eval_type then %>
            Offer System
          <% else %>
            Scorecard System
          <%  end %>
        </td>
        <td style="overflow:auto;padding:20px; background-image: url('/images/paper_texture.jpg');">
          <p>
            <%=h simple_format(@case_study.summary) %>
          </p>
        </td>
      </tr>
      <tr>
        <% if current_user.admin %>
          <td colspan="3" style="background-image:none;border:none;">
          <% else %>
          <td colspan="2" style="background-image:none;border:none;">
          <% end %>
          <br/>
          Click on these to know more about the case:
          <strong>
            <span style="float:right;text-align:center;font-size:12px;color:black;text-decoration: none;"><%= link_to image_tag("/images/issues.png", :size=>"35x35"), issues_path(:case_study=>@case_study.id), :title=>"Issues in this Case"%><br/>Issues</span>
            <span style="float:right;text-align:center;margin-right:20px;font-size:12px;color:black;text-decoration: none;"><%= link_to image_tag("/images/roles.png", :size=>"35x35"), roles_path(:case_study=>@case_study.id), :title=>"Roles in this Case"%><br/>Roles</span>
          </strong>
        </td>
      </tr>
    </table>

  </div>
</div>
